body{
    margin:0;
    background:#000;
    color:white;
    font-family:"Hiragino Mincho ProN", serif;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.title-screen{
    text-align:center;
}

h1{
    font-size:48px;
    font-weight:normal;
    line-height:1.6;
    margin-bottom:80px;
}

button{
    padding:15px 50px;
    font-size:22px;

    background:transparent;
    color:white;

    border:1px solid white;

    border-radius:8px;

    cursor:pointer;
}

button:hover{
    background:white;
    color:black;
}