body{
    margin:0;
    background:black;
    color:white;
    font-family:sans-serif;
}

.title-screen{
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

h1{
    font-size:40px;
    margin-bottom:60px;
}

button{

    width:220px;
    height:60px;

    font-size:24px;

    border:none;
    border-radius:12px;

    background:white;
    color:black;
}

.opening{
    background:white;
    margin:0;
    height:100vh;
    position:relative;
}

.dialog{

    position:absolute;

    bottom:0;

    width:100%;

    height:220px;

    background:rgba(255,255,255,0.95);

    border-top:3px solid #999;

    box-sizing:border-box;

    padding:25px;
}

.dialog p{

    color:black;

    font-size:28px;

    line-height:1.6;

    margin-top:20px;
    margin-left:10px;
}

.dialog button{

    position:absolute;

    right:30px;

    bottom:55px;

    background:none;

    border:none;

    color:black;

    font-size:50px;

    width:auto;

    height:auto;

    cursor:pointer;
}